.profile {
    background-color: #FFFFFF;
    height: fit-content;
    width: 10em;
    padding: 0 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.profile_avatar {
    margin: 0.2rem 1rem;
}

.profile_avatar .profile_name {
    margin: 0.3rem;
}

.profile .arrow_down {
    margin-right: 0.2rem;
}

.profile_name {
    font-weight: 700;
}